footer {
  padding-block: 1rem;
}

body {
  margin-inline: 1rem;
}

header {
  margin-block-end: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

h2 {
  margin-block: 0.5rem;
}

form, fieldset {
  display: flex;
  flex-direction: column;
}

fieldset.colors {
  gap: 0.5rem;
}

input {
  cursor: pointer;
}

input[aria-disabled="true"] {
  cursor: not-allowed;
  opacity: 0.5;
}

homage-to-the-square {
  --composition-margin: auto;
  --composition-max-block-size: calc(100vh - 17rem);
}